@model OCS.MVC.Models.FiltersViewModel

<link href="~/Content/FilterStyle.css" rel="stylesheet" />

<div class="col-md-2 side-bar">
    <div class="panel-group">
        @*Search Bar*@
        <div class="searchContainer panel panel-default filter-bar-item ui-widget">
            <input id="searchBar" 
                   class="fill"
                   placeholder="Search by Name"
                   value="@Model.SearchString" 
                   list="mylist"/> 
            <datalist id="mylist">
            </datalist>
        </div>
        @*Categories*@
        <div id="collapsibleBrands" class="panel panel-default filter-bar-item collapsibleThingie">
            <div class="panel-heading bigThingie">
                <h4 class="panel-title">
                    <a>Category</a>
                </h4>
            </div>
            <div class="panel-collapse collapse">
                <ul class="list-group smallThingies">
                    @foreach (var categ in Model.Categories)
                    {
                        <li class="list-group-item">@categ.Name</li>
                    }
                </ul>
            </div>
        </div>
        @*Brand*@
        <div id="collapsibleCategs" class="panel panel-default filter-bar-item collapsibleThingie">
            <div class="panel-heading bigThingie">
                <h4 class="panel-title">
                    <a>Brand</a>
                </h4>
            </div>
            <div class="panel-collapse collapse">
                <ul class="list-group smallThingies">
                    @foreach (var brand in Model.Brands)
                    {
                        <li class="list-group-item">@brand.Name</li>
                    }
                </ul>
            </div>
        </div>
    </div>
</div>

<script src="~/Scripts/Site/Filtering.js"></script>