@model IEnumerable<OCS.MVC.Models.ProductViewModel>

<link href="~/Content/ProductStyle.css" rel="stylesheet" />
<div class="storeContent">
    @foreach (var prod in Model)
    {
        Html.RenderPartial("ProductPartial", prod);
    }
</div>