/* Fancy Hats*/
.prodCard {
    padding: 3px;
}
    .prodCard:hover {
        background-color: whitesmoke
    }

.prodContainer {
    background-color: white;
}

.imgContainer {
    height: 300px;
    min-width:150px;
}
    .imgContainer img {
        display: block;
        margin: 0 auto;
    }

.prodContainer img {
    height: 100%;
    max-width: 100%;
    object-fit: contain;
    margin-left: auto;
    margin-right: auto;
}

.prodContainer .prodContainer-body {
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 0px;
    position: relative;
    max-width: 100%;
    height: 100%;
    background-color: white
}

.prodContainer-body h4 {
    text-align: center;
}

.prodContainer-body p {
    text-align: center;
}
