/* Fancy Hats*/
.prodCard {
    padding: 3px;
    background-color: white
}

.imgContainer {
    position: relative;
    height: 300px;
    min-width: 150px;
}

    .imgContainer img {
        height: 100%;
        max-width: 100%;
        object-fit: contain;
        display: block;
        opacity: 1;
        backface-visibility: hidden;
    }

    .imgContainer:hover img {
        opacity: 0.6;
        transition: .4s ease;
    }
    .imgContainer:hover .imageOverlay {
        opacity: 1;
        transition: .4s ease;
    }
    .imgContainer .imageOverlay {
        position: absolute;
        top: 0;
        bottom: 0;
        width: 100%;
        opacity: 0;
    }
        .imgContainer .imageOverlay input {
            position:absolute;
            width: 50%;
            top: 90%;
            transform: translateY(-90%);
            left: 25%;

            border-color:dodgerblue;
            border-radius:4px;
        }


.prodContainer .prodContainer-body {
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 0px;
    position: relative;
    max-width: 100%;
    height: 100%;
    background-color: white
}

.prodContainer-body h4 {
    text-align: center;
}

.prodContainer-body p {
    text-align: center;
}
